
<div class="row" style="background-color: #ddd;">
  <div class="col-md-2">KEEP IT UP!</div>
  <div class="col-md-8"> You're thinking deeply about the connections between the course material and your own lived experience; excellent work, and exactly the kind of meaningful reflection you want to be engaging in. Keep it up!</div>
</div>

<div class="row">
  <div class="col-md-2">GOOD WORK</div>
  <div class="col-md-8"> You've thought about it, and written about it, and you're starting to see connections. Perhaps invite a classmate to coffee, and kick these ideas around more before writing---there's more connections to be made.</div>
</div>

<div class="row" style="background-color: #ddd;">
  <div class="col-md-2">NEEDS IMPROVEMENT</div>
  <div class="col-md-8"> Although blogs are informal, they are written for a wide, public audience. You need to spend more time thinking about how ideas connect, and perhaps focus more on the basics. In addition, you may want to schedule more reflection and discussion time with classmates to explore these ideas more fully. </div>
</div>

<div class="row">
  <div class="col-md-2">SEE ME</div>
  <div class="col-md-8"> Like it says: we need to discuss the state of your work in person if you're going to improve. </div>
</div>