
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
      <a href="{{site.base}}/"><img src="{{site.base}}/css/images/{{site.nav_logo}}" height='80px'></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- 
        <li><a href="/infra/syllabus.html">{% include fa name="book fa-fw" size="2x" %} Syllabus</a></li>
          -->


        <li><a href="{{site.reflectorials}}/">
          {% include fa name="puzzle-piece fa-fw" size="2x" %} Reflectorials</a>
        </li>

        
        <li><a href="{{site.base}}/resources/" >{% include fa name="lightbulb-o fa-fw" size="2x" %} Resources</a></li>
        <!-- <a href="{{site.moodle}}">{% include fa name="sign-in fa-fw" size="2x" %} Moodle</a> -->
        <!-- 
        {% if site.twitter %}
        <li><a href="http://twitter.com/{{site.twitter}}">{% include fa name="twitter fa-fw" size="2x" %} @craftoe</a></li>
        {% endif %}
        -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

<script>
var tutorials = [
  {{tutorials}}
];
</script>
